{extend name="./common/base" /}
{block name="body"}
<div class="weui-tab">
    <div class="weui-tab__panel">
        asdasd
    </div>
    <div class="weui-tabbar" >
        <a href="{:addonUrl('index')}" class="weui-tabbar__item weui-bar__item_on">
            <img src="__ADDONSTATIC__/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">微信</p>
        </a>
        <a href="{:addonUrl('user/index')}" class="weui-tabbar__item">
            <img src="__ADDONSTATIC__/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">我</p>
        </a>
    </div>
</div>
{/block}